.flipp-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: stretch; 
    gap: 16px; 
    padding-bottom: 50px; 
  }
  
  .Flipp-card {
    perspective: 1000px;
    flex: 1 1 calc(33.333% - 32px); 
    min-height: 300px; /* Minimale Höhe */
    display: flex; 
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
.Flipp-card .Flipp-card-face {
    width: 100%;
    flex-grow: 1; 
    position: relative; 
    backface-visibility: hidden;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.6s ease;
  }
  
  
  .Flipp-card .Flipp-card-front {
    background-color: #fff;
  }
  
  .Flipp-card .Flipp-card-back {
    background-color: #007bff;
    transform: rotateY(180deg);
  }
  
  .Flipp-card.is-flipped .Flipp-card-front {
    transform: rotateY(180deg);
  }
  
  .Flipp-card.is-flipped .Flipp-card-back {
    transform: rotateY(360deg);
  }
  
@media (max-width: 768px) {
    .flipp-card-container {
      gap: 10px; 
    }
    .Flipp-card {
      flex: 1 1 calc(50% - 24px); 
    }
  }
  
@media (max-width: 480px) {
    .flipp-card-container {
      gap: 8px; 
    }
    .Flipp-card {
      flex: 1 1 calc(100% - 16px); 
    }
  }